@import '~@angular/material/_theming';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-grey, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
.indigo-grey-theme {
  @include angular-material-theme($theme);
}
