@use '~@angular/material' as mat;
@import '~@angular/material/_theming';

// Include non-theme styles for core.
@include mat.core();

// Define a theme.
$primary: mat.define-palette(mat.$indigo-palette);
$accent:  mat.define-palette(mat.$grey-palette, A200, A100, A400);

$theme: mat.define-light-theme($primary, $accent);

// Include all theme styles for the components.
.indigo-grey-theme {
  @include mat.all-component-themes($theme);
}
