@use '~@angular/material' as mat;

// Include non-theme styles for core.
@include mat.core();

// Define a theme.
$primary: mat.define-palette(mat.$pink-palette, 700, 500, 900);
$accent:  mat.define-palette(mat.$grey-palette, A200, A100, A400);

$theme: mat.define-dark-theme($primary, $accent);

// Include all theme styles for the components.
.pink-grey-theme {
  @include mat.all-component-themes($theme);
}
