@use '~@angular/material' as mat;
@import '~@angular/material/_theming';

// Include non-theme styles for core.
@include mat.core();

// Define a theme.
$primary: mat.define-palette(mat.$purple-palette, 700, 500, 800);
$accent:  mat.define-palette(mat.$green-palette, A200, A100, A400);

$theme: mat.define-dark-theme($primary, $accent);

// Include all theme styles for the components.
.purple-green-theme {
  @include mat.all-component-themes($theme);
}
