<md-toolbar color="primary" #mainToolbar>
  <button md-button [mdePopoverTriggerFor]="popover" mdePopoverTriggerOn="click">Click Me</button>

  <div class="fill"></div>

  <button md-icon-button [mdePopoverTriggerFor]="themePopover" [mdePopoverTargetAt]="mainToolbar" mdePopoverTriggerOn="click">
    <md-icon>format_color_fill</md-icon>
  </button>

  <!--
  <button md-icon-button [mdePopoverTriggerFor]="notificationsPopover" [mdePopoverTargetAt]="mainToolbar" mdePopoverTriggerOn="click">
    <md-icon>notifications</md-icon>
  </button>
  -->

  <button md-icon-button [mdePopoverTriggerFor]="githubPopover" [mdePopoverTargetAt]="mainToolbar" mdePopoverTriggerOn="hover">
    <img src="../assets/images/github-circle-white-transparent.svg">
  </button>
</md-toolbar>


<mde-popover #themePopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false" [mdePopoverOffsetX]="-16" [mdePopoverOffsetY]="-10" [mdePopoverArrowOffsetX]="58" mdePopoverArrowColor="#FFFFFF">
  <theme-picker [(theme)]="themeClass"></theme-picker>
</mde-popover>

<mde-popover #notificationsPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverOffsetX]="-16" [mdePopoverOffsetY]="-10" [mdePopoverArrowOffsetX]="58" mdePopoverArrowColor="#1b1c1b" [mdePopoverCloseOnClick]="false">
  <app-notifications></app-notifications>
</mde-popover>

<mde-popover #githubPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverOffsetX]="-16" [mdePopoverOffsetY]="-10" [mdePopoverArrowOffsetX]="18" mdePopoverArrowColor="#FFFFFF" [mdePopoverCloseOnClick]="false">
  <app-github></app-github>
</mde-popover>

<mde-popover #popover="mdePopover">
  <md-card class="example-card">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</mde-popover>



<button class="support-button" md-fab
        [mdePopoverTriggerFor]="supportPopover"
        mdePopoverArrowColor="#e5e5e5"
        mdePopoverTriggerOn="click"
        [mdePopoverCloseOnClick]="true">
  <md-icon>chat</md-icon>
</button>


<mde-popover #supportPopover="mdePopover" mdePopoverPositionX="before" mdePopoverPositionY="above"
             [mdePopoverArrowOffsetX]="28" [mdePopoverArrowWidth]="16"
             [mdePopoverOverlapTrigger]="false" mdePopoverTriggerOn="click"
             mdePopoverPlacement="bottom" [mdePopoverEnterDelay]="100">
  <app-support></app-support>
</mde-popover>


<router-outlet></router-outlet>
