# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
dist/
out-tsc/
src/**/*.js
src/**/*.css
!src/demo/systemjs.config.js
!src/demo/systemjs.config.lib.js
!**/*systemjs-angular-loader.js
*.js.map
*.css.map
e2e/**/*.js
e2e/**/*.js.map

# dependencies
node_modules

# IDEs
/.idea
/.vscode

# misc
.DS_Store
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.chrome
