<mat-toolbar color="primary" #mainToolbar>
  <button mat-button [mdePopoverTriggerFor]="popover" mdePopoverTriggerOn="click">Click Me</button>

  <div class="fill"></div>

  <button mat-icon-button [mdePopoverTriggerFor]="themePopover" [mdePopoverTargetAt]="mainToolbar" mdePopoverTriggerOn="click">
    <mat-icon>format_color_fill</mat-icon>
  </button>

  <!--
  <button mat-icon-button [mdePopoverTriggerFor]="notificationsPopover" [mdePopoverTargetAt]="mainToolbar" mdePopoverTriggerOn="click">
    <mat-icon>notifications</mat-icon>
  </button>
  -->

  <button mat-icon-button [mdePopoverTriggerFor]="githubPopover" [mdePopoverTargetAt]="mainToolbar" mdePopoverTriggerOn="hover">
    <img src="../assets/images/github-circle-white-transparent.svg">
  </button>
</mat-toolbar>


<mde-popover #themePopover="mdePopover"
             [mdePopoverOverlapTrigger]="false"
             [mdePopoverCloseOnClick]="false"
             [mdePopoverOffsetX]="-16"
             [mdePopoverOffsetY]="-10"
             [mdePopoverArrowOffsetX]="58"
             mdePopoverArrowColor="#FFFFFF"
             mdePopoverScrollStrategy="close">
  <theme-picker [(theme)]="themeClass"></theme-picker>
</mde-popover>

<mde-popover #notificationsPopover="mdePopover"
             [mdePopoverOverlapTrigger]="false"
             [mdePopoverOffsetX]="-16"
             [mdePopoverOffsetY]="-10"
             [mdePopoverArrowOffsetX]="58"
             mdePopoverArrowColor="#1b1c1b"
             [mdePopoverCloseOnClick]="false">
  <app-notifications></app-notifications>
</mde-popover>

<mde-popover #githubPopover="mdePopover"
             [mdePopoverOverlapTrigger]="false"
             [mdePopoverOffsetX]="-16"
             [mdePopoverOffsetY]="-10"
             [mdePopoverArrowOffsetX]="18"
             mdePopoverArrowColor="#FFFFFF"
             [mdePopoverCloseOnClick]="false"
             mdePopoverScrollStrategy="close">
  <app-github></app-github>
</mde-popover>

<mde-popover #popover="mdePopover">
  <mat-card class="example-card">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</mde-popover>



<button class="support-button" mat-fab
        [mdePopoverTriggerFor]="supportPopover"
        mdePopoverArrowColor="#e5e5e5"
        mdePopoverTriggerOn="click"
        [mdePopoverCloseOnClick]="false">
  <mat-icon>chat</mat-icon>
</button>


<mde-popover #supportPopover="mdePopover" mdePopoverPositionX="before" mdePopoverPositionY="above"
             [mdePopoverArrowOffsetX]="28" [mdePopoverArrowWidth]="16"
             [mdePopoverOverlapTrigger]="false" [mdeFocusTrapEnabled]="true" mdePopoverTriggerOn="click"
             mdePopoverPlacement="bottom" [mdePopoverEnterDelay]="100" mdePopoverScrollStrategy="block">
  <app-support></app-support>
</mde-popover>


<router-outlet></router-outlet>
