.purple-green-theme {
    @import '~@angular/material/prebuilt-themes/indigo-pink.css';
}

@import './app/core/themes/deeppurple-amber';
@import './app/core/themes/pink-bluegrey';
@import './app/core/themes/pink-grey';
@import './app/core/themes/indigo-pink';
@import './app/core/themes/indigo-grey';
@import './app/core/themes/purple-green';



html, body {
    height: 100%;
}

body {
    margin: 0;
}

page-home {
    min-height: 200vh;
}